@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kode+Mono:wght@400..700&family=Nunito:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 16;
  text-align: center;
  font-family: "Kode Mono", monospace;
}

.meme-container {
  margin-top: 16px;
  max-width: 430px;
  margin-inline: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.meme-title {
  margin-top: 0;
  font-size: 24px;
}

.author {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 15px;
}

button {
  border: none;
  outline: none;
  font-family: inherit;
  padding: 12px 16px;
  background-color: black;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  max-width: 430px;
}

button:active {
  background-color: rgb(47, 228, 50);
}

img {
  width: 100%;
  border-radius: 8px;
}

.linkA {
  text-decoration: none;
  color: black;
}

#git {
  font-size: 32px;
  cursor: pointer;
}
